<h3>Add Client</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Client Id</label>
      <input type="text" class="form-control" id="clientId" required [(ngModel)]="client.clientId" name="clientId">
    </div>

    <div class="form-group">
      <label for="name">Client Name</label>
      <input type="text" class="form-control" id="clientName" required [(ngModel)]="client.clientName" name="clientName">
    </div>

    <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="clientDescription" required [(ngModel)]="client.clientDescription" name="clientDescription">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>New Client submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newClient()">Add</button> -->
</div>
